<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Lora:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Courgette&family=Pacifico&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
<body>
<div class="row">
    <div class="col-xs-7 col-md-6 mission">
        <h3>
            Why keep records online?
        </h3>
        <p>
            The reason to keep your pets health records is the same as keeping your own.
            As well as the popularity of telemedicine due to panemic can cause individuals
            to forget what the veterinarian says while on the phone is highly likely. So
            being able to take notes or have your vet send you the information in an email
            and you put it directly into the database. This will also held when keeping down
            paper waste down.
        </p>
    </div>
    <div class="col-xs-2 col-md-6" id="right">
        <h3>
            Security
        </h3>
        <p>
            The records that are kept online can also be a security threat. As tesh.con states
            "… And according to a Google survey of 2,000 people, pets’ names were the most common password choice.
            So with a simple document from a veterinary office, a hacker can piece together enough details about you
            to steal your identity."
            <br>
            <cite><a href="https://www.tesh.com/articles/dont-keep-all-your-vet-records/"> tesh.com</a></cite>
            This is true which is why we use secure database connetions.
        </p>
    </div>
</div>
<div class="row" id="rod">
    <div class="white-background">
        <div class="col-xs-6 col-md-6 offset-lg-3">
            <div>
                <h3>Our symbol is the Rod of Asclepius</h3>
                <img class="center" src="../../assets/img/blue-rod-of-asclepius.png" alt="Rod of Asclepius">
            </div>
            <br>
            <p>
                The symbol of the Greek God of the same name. Asclepius was
                the god of
                healing and medicine which is why many hospitials use it as their symbol. This symbol is a universal
                sign of
                health.
            </p>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<footer class="text-center text-white" style="background-color: #0d0d73;">
    <div class="container p-4 pb-0">
        <section>
            <p class="d-flex justify-content-center align-items-center">
                <span class="me-3">Register for free</span>

                <a class="white" href="./sign-up.html"><button type="button"
                        class="btn btn-outline-light btn-rounded" id="signup">Sign up!</button></a>
            </p>
        </section>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-white" href="#">Brittany Hill • Lance Blum</a>
    </div>

</footer>
</body>