<footer class="text-center text-white" style="background-color: #0d0d73;">
    <div class="container p-4 pb-0">
        <section>
            <p class="d-flex justify-content-center align-items-center">
                <span class="me-3">Register for free</span>

                <a class="white" routerLink="/signup"><button type="button" class="btn btn-outline-light btn-rounded"
                        id="signup">Sign up!</button></a>
            </p>
        </section>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-white" href="#">Brittany Hill • Lance Blum</a>
    </div>
</footer>